<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css" /> 
  <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" charset="utf-8" />

  <link rel="favicon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/ext/ext-all-debug.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/form-ui.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/chart.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/report_data_request.js"></script>
  <script type="text/javascript" charset="utf-8" src="http://dev.sencha.com/deploy/ext-4.0.1/examples/example-data.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/ext-chart.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/site.js"></script>
  
  <title>Santa Barbara Data - City2</title>
</head>
<body>
<div class="container">
  <div id="header">
    <div class="about">
      <h1>Santa Barbara Data Project</h1>

      <div class="description">
        <p>This is a description of what this is.  Use the links on the left to compare local information. </p>

        <p class="powered-by">Powered by <a href="http://city2.org" class="logo">City2</a></p>
        <p class="tagline">Headlines, Blog Network &amp; Community Conversation</p>
      </div>
    </div>

    <div class="nav">
      <ul>
        <li class="current"><a id="nav-graphs" href="#graphs">Graphs</a></li>
      </ul>
    </div>
  </div>
  
  <div id="main">
    <div class="view-options">
      <form action="/" method="get" accept-charset="utf-8">
        <fieldset class="graph-type" id="graph-type-selector">
          <input type="button" class="button selected" value="Total Incidents" name="graph-type" />
          <input type="button" class="button" value="Incidents V. Time" name="graph-type" />
        </fieldset>

        <fieldset class="date-view" id="date-view-selector">
          <input type="button" class="button" value="Day" name="date-view" />
          <input type="button" class="button selected" value="Week" name="date-view" />
          <input type="button" class="button" value="Month" name="date-view" />
          <input type="button" class="button" value="Year" name="date-view" />
        </fieldset>

        <fieldset class="incident-options">
          <hr/>

          <fieldset class="meta-select" id="meta-types-selector">
            <input id="incidents-select-all" type="button" class="button" value="all" name="incident-options-meta" />
            <input id="incidents-select-none" type="button" class="button" value="none" name="incident-options-meta" />
          </fieldset>

          <ul id="emergency-types-selector">
            <% @emergency_types.each do |type|  %>
            <li>
              <label rel="<%= type %>">
                <input type="checkbox" class="checkbox" name="incident-options[]" value="<%= type %>" />
                <%= type  %>
              </label>
            </li>
            <% end  %>
          </ul>

          </fieldset>
        </form>
      </div>

    <div class="main-view">
      <div class="graph" id="the-graph"></div>
    </div>
  </div>
  
  <div id="footer">
    <div class="description">
    </div>
  </div>
</div>

</body>
</html>
