/*
 * City2Data Graphs and Template Stylesheet
 * ---------------------------------------------------------------------- */

/* Layout
 * ---------------------------------------------------------------------- */
body {
  background-color: #C2C2C2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.container {
  background-color: #EFF0F2;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 1024px;
}

#header {
  background-color: #2C292b;
  height: 210px;
  position: relative;
}

#main {
  margin-top: 40px;
}

#main .sidebar,
#main .view-options {
  float: left;
  margin-right: 15px;
  width: 260px;
}

#main .main-view {
  float: left;
  width: 749px;
}

#main .main-view .graph {
  background-color: #ccc;
  position: relative;
  width: 710px;
}

#main .main-view .graph .x-window {
  background-color: #ccc;
  border-color: #aaa;
}

.x-tip {
  background-color: black;
  border: none;
  opacity: 0.8;
}

.x-tip-header-text {
  color: white;
  line-height: 19px;
}

/* Header
 * ---------------------------------------------------------------------- */
#header .about h1 {
  background: url(/images/datalogo.png) top left no-repeat;
  display: block;
  height: 51px;
  left: 85px;
  margin-top: -40px;
  position: absolute;
  text-indent: -999999px;
  top: 50%;
  width: 175px;
}

#header .about .description {
  color: #7A7E81;
  font-size: 12px;
  left: 270px;
  position: absolute;
  top: 50px;
  width: 260px;
}

#header .description .powered-by {
  margin-top: 20px;
  position: relative;
}

#header .description .logo {
  background: url(/images/logo.png) top left no-repeat;
  display: inline-block;
  height: 38px;
  width: 93px;
  position: absolute;
  top: -15px;
  left: 55px;
  text-indent: -999999px;
}

/* Navigation
 * ---------------------------------------------------------------------- */
#header .nav {
  bottom: -1px;
  position: absolute;
  right: 35px;
}

#header .nav ul {
  list-style: none;
}

#header .nav li {
  float: left;
  height: 73px;
  margin-left: 50px;
  width: 60px;
}

#header .nav li.current {
  background: url(/images/pointer.png) center bottom no-repeat;
}

#header .nav a {
  background: url(/images/nav-sprites.png) no-repeat top left;
  height: 100%;
  display: block;
  text-indent: -999999px;
}

#header #nav-graphs     { background-position: 0 -103px; }
#header #nav-maps       { background-position: 0 -309px; }
#header #nav-pie-charts { background-position: 0 -515px; }

/* Hover states and current states */
#header #nav-graphs:hover,
#header .current #nav-graphs { background-position: 0 0; } 

#header #nav-maps:hover,
#header .current #nav-maps { background-position: 0 -206px; } 

#header #nav-pie-charts:hover,
#header .current #nav-pie-charts { background-position: 0 -412px; } 

/* Graph View Options
 * ---------------------------------------------------------------------- */
#main .view-options .graph-type,
#main .view-options .date-view {
  text-align: right;
}

/* Option buttons */
#main .view-options .button {
  background-color: transparent;
  border: none;
  color: #666;
  margin: 0;
  padding: 0 5px;
  text-transform: uppercase;
}

#main .view-options .button:hover {
  background-color: #ddd;
  cursor: pointer;
}

#main .view-options .button.selected {
  background-color: #FFF83d;
}

/* Incident options */
#main .incident-options .meta-select {
  clear: both;
  margin-bottom: 10px;
  text-align: right;
}

#main .incident-options .meta-select .button {
  background-color: transparent;
  padding: 0 2px;
  margin: 0 3px;
}

#main .incident-options .meta-select .button.selected {
  background-color: transparent;
}

#main .incident-options .meta-select .button:hover {
  border-bottom: 1px solid #aaa;
}

#main .view-options .checkbox {
  display: none;
}

#main .view-options .incident-options {
  margin-top: 10px;
}

#main .view-options .incident-options hr {
  border-top: 1px dotted #666;
  float: right;
  margin-bottom: 20px;
  width: 75%;
}

#main .view-options .incident-options ul {
  list-style: none;
}

#main .view-options .incident-options li {
  display: block;
  text-align: right;
}

#main .view-options .incident-options label {
  color: #666;
  display: block;
  font-size: 11px;
  line-height: 1.55em;
  padding: 1px 5px 0;
  text-align: right;
  text-transform: uppercase;
}

#main .view-options .incident-options label:hover {
  background-color: #ddd;
  cursor: pointer;
}

#main .view-options .incident-options .swatch {
  display: none;
  float: right;
  margin: 3px 0 0 6px;
  height: 10px;
  width: 10px;
}

#main .view-options .incident-options label.disabled,
#main .view-options .incident-options label.disabled:hover {
  background-color: transparent;
  color: #aaa;
}

#main .view-options .incident-options li.selected label {
  background-color: #FFF83d;
}

/* Popup 
 * ---------------------------------------------------------------------- */
.graph-popup {
  background-color: black;
  border-radius: 5px;
  color: white;
  left: 50%;
  opacity: 0.9;
  padding: 5px 8px;
  position: absolute;
  top: 400px;
  width: 150px;
}

.graph-popup span {
  color: black;
  bottom: -0.75em;
  left: 50%;
  font-size: 18px;
  margin-left: -0.5em;
  position: absolute;
}

/* Clearfix
 * ---------------------------------------------------------------------- */
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

