/*
  ------------------------------
  Old Site:   decentra.org
  New Site:   steveswebapps.com/decentra
  Author:     Steve Phillips
  Created:    2011.01.19
  Edited:     2011.02.12
  ------------------------------
*/
body {
  /* background: #d8f5ff; */
  background: #fff;
  color: #1F1F1F;
  padding: 50px 100px;
  width: 720px;
  margin: 20;
  line-height: 1.5;
  font-family: Geneva, Sans-Serif, Helvetica;
}
